/*
Custom Styles
*/

.page-header {
    margin-top: 0;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin-bottom: 55px; /*To prevent text from going under the footer*/
}

.large-font {
    font-weight: bold;
    font-size: 16px;
}